extends layout
block content
  .container
      .row
        .logo
          h3
           = title
      .row
        .span12
          .mini-layout
            h3 Summary Data
             a(href='/exportsummarytraces' style="margin-left: 60%;") Export to CSV
            table.table.table-bordered
              thead
                tr
                  th ID
                  th Player ID
                  th Total Play Time
                  th Tutorial Time
                  th Level 1 Time
                  th Level 2 Time
                  th Level 3 Time
                  th Level 4 Time
                  th Level 5 Time
                  th Total Completion
                  th Tutorial Complete
                  th Level 1 Complete
                  th Level 2 Complete
                  th Level 3 Complete
                  th Level 4 Complete
                  th Level 5 Complete
                  th Num Times Research Tab Opened
                  th Time Research Tab Open
                  th Num Articles Read
                  th Num Bookmarks Created
                  th Notes in Research Tab
                  th Num Times Observation Tool Opened
                  th Time Observation Tool Open
                  th Notes in Observation Tool
                  th Num Resource Requests
                  th Num Resource Requests Approved
                  th Num Resource Requests Denied
                  th Num Times Draw Tool Used
                if summarytraces.length
                each item in summarytraces
                 tr
                   td #{item['_id']}
                   td #{item['playerID']}
                   td #{item['totalPlayTime']}
                   td #{item['tutorialTime']}
                   td #{item['level1Time']}
                   td #{item['level2Time']}
                   td #{item['level3Time']}
                   td #{item['level4Time']}
                   td #{item['level5Time']}
                   td #{item['totalCompletion']}
                   td #{item['tutorialComplete']}
                   td #{item['level1Complete']}
                   td #{item['level2Complete']}
                   td #{item['level3Complete']}
                   td #{item['level4Complete']}
                   td #{item['level5Complete']}
                   td #{item['numResearchTabOpen']}
                   td #{item['timeResearchTabOpen']}
                   td #{item['numArticlesRead']}
                   td #{item['numBookmarksCreated']}
                   td #{item['notesResearchTab']}
                   td #{item['numObservationToolOpen']}
                   td #{item['timeObservationToolOpen']}
                   td #{item['notesObservationTool']}
                   td #{item['numResourceRequests']}
                   td #{item['numResourceRequestsApproved']}
                   td #{item['numResourceRequestsDenied']}
                   td #{item['numDrawToolUsed']}
            h3 Set (Enclosure) Data
              a(href='/exportsettraces' style="margin-left: 60%;") Export to CSV
            table.table.table-bordered
              thead
                tr
                  th ID
                  th Player ID
                  th Level ID
                  th Set ID
                  th Result 
                  th Num Days 
                  th Currency
                  th Failure Reason
                  th Food Score
                  th Terrain Score 
                if settraces.length 
                each item in settraces 
                  tr 
                    td #{item['_id']}
                    td #{item['playerID']}
                    td #{item['levelID']}
                    td #{item['setID']}
                    td #{item['result']}
                    td #{item['numDays']}
                    td #{item['currency']}
                    td #{item['failure']}
                    td #{item['foodScore']}
                    td #{item['terrainScore']}
